.j-text-editor {
    padding-left: 6px;
    background-color: whitesmoke;
    padding: 4px 8px 8px;
    border-top: 1px solid lightgrey;
    border-right: 1px solid lightgrey;
    border-left: 1px solid lightgrey;
}

.j-text-editor .button {
    display: inline-block!important;
    width: 30px!important;
    height: 30px!important;
    text-align: center!important;
    background-image: none!important;
    background-color: white!important;
    margin-right: 3px!important;
    border: none!important;
    box-shadow: none!important;
    line-height: 30px!important;
    cursor: pointer!important;
    border: 1px solid #dadada!important;
    padding: 0px!important;
}

.j-text-editor .button:hover {
    background-color: #205081;
    border: 1px solid #205081!important;
    color: white;
    box-shadow: 0px 1px 2px lightgrey;
}

.j-text-editor .button.bold {
    font-weight: bold;
}

.j-text-editor .button.italic {
    font-style: italic;
}

.j-text-editor .button.color {
    color: red;
}

.j-text-editor .button.selected {
    background-color: #205081;
    color: white;
}

.je-preview-button-text {
    padding-left: 6px;
}

.je-c-white {
    color: white!important;
}

.je-bgc-navy {
    background-color: #205081!important;
}

.jt-right {
    float: right;
}

.jira-dialog-content .button.fullscreen,
.jira-dialog-content .button.images,
.jira-dialog-content .button.comments {
    display: none!important;
}

.jira-dialog-content #description-wiki-edit {
    padding-right: 108px;
}

.je-hidden {
    display: none!important;
}

.je-prevent-overflow {
    overflow-y: hidden!important;
}

.je-a-header {
    width: 100%;
    display: inline-block;
}

.je-a-slider {
    overflow-y: auto;
    height: 100%;
}

.je-a-header div {
    width: 50%;
    float: left;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
    cursor: pointer;
    background-color: #f5f5f5;
}

.je-a-header div:first-child {
    border-right: 1px solid #ccc;
}

.je-a-header div:hover {
    background-color: #ccc;
}

.j-editor-attachments {
    display: none;
    width: 50%;
    height: calc(100vh - 81px);
    overflow-y: hidden;
}

.full-screen-editor .wiki-edit #description-wiki-edit {
    display: inline-block;
    width: 50%;
    float: left;
    height: calc(100vh - 81px);
    box-sizing: border-box;
}

.full-screen-editor.no-images.no-comments .wiki-edit #description-wiki-edit {
    width: calc(100% - 1px)!important;
}

.full-screen-editor.no-comments.no-images .save-options {
    margin-right: 44px!important;
}

.full-screen-editor.no-images.no-comments .jte-form .field-group .field-tools {
    margin-right: 116px!important;
}

.j-editor-attachments .wiki-edit #description-wiki-edit {
    width: calc(100% + 2px)!important;
    margin-left: -1px;
    box-sizing: border-box;
}

.full-screen-editor .j-editor-attachments {
    display: inline-block;
    padding: 0px; 
    box-sizing: border-box;
    border-top: 1px solid #cccccc;
}

.full-screen-editor .j-editor-attachments .j-editor-image {
    width: 100%;
}

.full-screen-editor .jte-form .field-group .field-tools button, .full-screen-editor .jte-form .field-group .field-tools a {
    background-color: white;
    padding: 6px;
    display: inline-block;
    line-height: 1;
    border: 1px solid #cccccc;
}

.j-text-editor .button.images, 
.j-text-editor .button.comments {
    display: none!important;
}

.full-screen-editor .j-text-editor .button.images, 
.full-screen-editor .j-text-editor .button.comments {
    display: inline-block!important;
}

.je-a-comments {
    display: none;
}

.je-a-comments form {
    display: inline-block;
    width: 100%;
    height: 265px;
    max-height: 265px;
    position: absolute;
    bottom: 0px;
    left: 0px;
}

.je-a-comments form {
    height: 395px!important;
    max-height: 265px;
}

.full-screen-editor .je-a-comments .buttons-container {
    position: absolute!important;
    margin-top: 0px;
    width: 50%;
    height: 45px;
    bottom: 0px;
    right: 0px;
    text-align: right;
}

.full-screen-editor .je-a-comments .buttons-container .buttons {
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
    padding-right: 5px;
}

.full-screen-editor .je-comments-box .mod-footer {
    display: none;
}

.full-screen-editor .je-comments-box .form-body {
    bottom: 0px;
    position: absolute;
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
    height: 33vh;
}

.full-screen-editor .je-comments-box .comment-input {
    height: 100%;
}

.full-screen-editor .je-a-comments {
    display: inline-block;
    position: absolute;
    top: 0px;
    right: 0px;
    width: 50%;
    height: 100%;
    background-color: white;
    border: 1px solid #cccccc;
}


/*JIRA ONLY mods */
.jte-form {
    width: 100%;
    padding: 0px;
    margin: 0px!important;
    box-sizing: border-box;
}

.jte-form .save-options {
    margin-top: -20px;
}

.full-screen-editor .jte-form .save-options {
    margin-right: 50%;
    position: absolute;
    top: -15px;
    right: 0px;
    background-color: transparent;
    border: none;
    box-shadow: none;
    z-index: 2500;
}

.full-screen-editor .jte-form .save-options button {
    background-color: white!important;
    background-image: none;
    height: 30px;
    width: 30px;
    padding: 0px;
    margin-left: 4px;
}

.full-screen-editor #description-wiki-edit {
    height: 100%;
    background-color: white!important;
}

.jte-form #description-wiki-edit textarea {
    padding: 10px;
}

.jte-form textarea#description {
    width: 100%!important;
    max-width: 100%!important;
}

.full-screen-editor .jte-form {
    position: absolute;
    top: 40px;
    width: 100%;
    z-index: 2500;
    left: 0px;
    margin-left: 0px!important;
    height: calc(100vh - 81px);
    display: inline-block;
    box-sizing: border-box;
    background-color: white;
    padding-left: 0px!important;
}

.full-screen-editor .jte-form .je-comments-box {
    position: absolute;
    bottom: 0px;
    width: 100%;
    box-sizing: border-box;
    margin: 0px!important;
    margin-right: 0px!important;
}

.je-comments-box .field-tools {
    margin-top: 10px!important;
}

.full-screen-editor .security-level {
    display: none!important;
}

.full-screen-editor .je-comments-list {
    height: calc(67vh - 76px);
    overflow-y: auto;
}

.full-screen-editor .je-comments-box label {
    display: none!important;
}

.full-screen-editor .je-comments-box .wiki-edit {
    height: calc(33vh - 45px);
    border-top: 1px solid #ccc;
}

#comment-wiki-edit textarea {
    padding: 10px;
}

/* .full-screen-editor .jte-form .field-group {
    display: inline-block;
    float: left;
    margin: 0px!important;
    width: 50%;
} */

.full-screen-editor .jte-form .field-group {
    padding: 0px!important;
    margin: 0px!important;
}

.full-screen-editor .jte-form textarea {
    outline: none;
    margin-left: -1px;
    width: calc(100% + 2px)!important;
    height: calc(33vh - 45px);
    padding: 10px;
    box-sizing: border-box;
    border-top: none;
}

.full-screen-editor .jte-form textarea {
    height: calc(100vh - 81px)!important;
    width: 100%!important;
    max-width: 100%!important;
}

#description-wiki-edit ul {
    margin-left: 0px!important;
}

.jte-form .wiki-edit-content.previewClass {
    overflow-y: auto;
}

.full-screen-editor .j-text-editor {
    width: 100%!important;
    position: absolute;
    top: -40px;
    left: 0px;
    z-index: 2500;
    box-sizing: border-box;
    margin-left: 0px;
}

.full-screen-editor .jte-form .field-group .field-tools {
    position: absolute;
    top: -34px;
    right: 0px;
    width: auto;
    box-sizing: border-box;
    margin: 0px!important;
    margin-right: calc(50% + 65px)!important;
    padding: 0px 5px!important;
    z-index: 2500;
}

.full-screen-editor .je-comments-list {
    background-color: whitesmoke;
}

.full-screen-editor .issue-data-block {
    background-color: white;
}

.full-screen-editor #description-preview_link {
    outline: none;
}

#descriptionmodule #description-val {
    width: 100%;
}


/* SVGs */
.j-text-editor .icon {
    display: inline-block!important;
    width: 1em!important;
    height: 1em!important;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
}
.j-text-editor .icon-list-unordered {
  width: 0.75em;
}

.j-text-editor .icon-list-ordered {
  width: 0.75em;
}

.j-text-editor .icon-images {
  width: 1.125em;
}

.j-text-editor .icon-bubbles4 {
  width: 1.125em;
}